.map {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
.ol-attribution,
.ol-rotate,
.ol-zoom {
  display: none;
}
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 24px 16px 8px 16px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 200px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  color: #999;
  position: absolute;
  right: 8px;
  text-decoration: none;
  top: 5px;
}
.ol-popup-closer:after {
  content: "✕";
}

.popup-image {
  align-items: center;
  /* background-color: #aaa; */
  border: 2px solid #ddd;
  display: flex;
  height: 250px;
  justify-content: center;
  margin-bottom: 4px;
  width: 250px;
}
.popup-image img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
.overlay .splide {
  width: 100%;
}
.overlay-box {
  background-color: #111;
  margin: 0 auto;
  /* max-height: 800px;
  max-width: 800px; */
}
