.map {
  height: calc(100vh - 120px);
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
.ol-attribution,
.ol-rotate {
  display: none;
}
.ol-zoom {
  bottom: 10px;
  position: absolute;
  right: 10px;
}
.ol-zoom button {
  background-color: #fff;
  border: none;
  border-radius: 0;
  font-size: 24px;
  margin-left: 10px;
  padding: 6px 12px;
}
.ol-popup {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  color: #000;
  font-size: 0.9rem;
  left: -50px;
  line-height: 1.2rem;
  min-width: 200px;
  padding: 16px 16px 8px 16px;
  position: absolute;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  color: #999;
  position: absolute;
  right: 8px;
  text-decoration: none;
  top: 5px;
}
.ol-popup-closer:after {
  content: "✕";
}

.popup-content {
  cursor: pointer;
}
.popup-image {
  align-items: center;
  border: 2px solid #ddd;
  display: flex;
  height: 250px;
  justify-content: center;
  margin-bottom: 4px;
  width: 250px;
}
.popup-image img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
.overlay.show {
  display: block;
}
.overlay-close {
  color: #999;
  cursor: pointer;
  font-size: 28px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 40px;
  z-index: 1;
}
.overlay-close:after {
  content: "✕";
}
#image-slider {
  height: calc(100vh - 120px);
  width: 100%;
}

#image-slider .splide__track {
  height: 100%;
}
#image-slider .splide__list {
  align-items: stretch;
}
#image-slider .splide__slide {
  align-items: center;
  color: #fff;
  display: flex;
  padding: 50px 30px;
  text-align: center;
}
#image-slider .splide__slide-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
#image-slider .splide__slide-inner > img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.splide__slide .splide__slide-inner > div {
  margin-top: 10px;
}

#thumbnail-carousel {
  background-color: #000;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
}
#thumbnail-carousel .splide__track {
  margin: 10px;
}
#thumbnail-carousel .splide__list {
}
#thumbnail-carousel .splide__slide {
  cursor: pointer;
  list-style: none;
  opacity: 0.8;
  overflow: hidden;
}
#thumbnail-carousel .splide__slide.is-active {
  opacity: 1;
}
#thumbnail-carousel .splide__slide img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
#image-slider .splide__arrow,
#thumbnail-carousel .splide__arrow {
  background: #000000;
  border-radius: 0;
  height: 4em;
  width: 4em;
}
#image-slider .splide__arrow svg,
#thumbnail-carousel .splide__arrow svg {
  fill: #fff;
  height: 2em;
  width: 2em;
}
#thumbnail-carousel .splide__arrow--prev {
  left: 10px;
}
#thumbnail-carousel .splide__arrow--next {
  right: 10px;
}

@media only screen and (min-width: 481px) {
  .overlay {
    height: calc(100vh - 120px);
  }
}

.infinite-scroll-intro {
  margin-bottom: 66px;
}
.infinite-scroll-drawing {
  margin-bottom: 66px;
  text-align: center;
}
.infinite-scroll-drawing img {
  max-width: 100%;
}